<div class="row">
        <div class="col-xs-12">
            <table id="movies" class="table table-striped">
                <th>{{ "movie.title" | trans | capitalize }}</th>
                <th>{{ "movie.slug" | trans | capitalize }}</th>
                <th>{{ "movie.price" | trans | capitalize }}</th>
                <th>{{ "movie.category" | trans | capitalize }}</th>
                <th>{{ "movie.poster" | trans | capitalize }}</th>
                <th>{{ "movie.actors" | trans | capitalize }}</th>
                <th>{{ "movie.tags" | trans | capitalize }}</th>
                <th>{{ 'movie.update' | trans | capitalize }}</th>
                <th>{{ 'movie.delete' | trans | capitalize }}</th>
                {% for mov in records %}
                    <tr class="movie" id="movie_{{ mov.id }}">
                        <td>
                            <a href="{{ url("main.movie.detail", { "category": mov.category.name ,"id" : mov.id,"slug" : mov.slug}) }}" >{{ mov.title }}</a>
                        </td>
                        <td>
                            {{ mov.slug }}
                        </td>
                        <td>
                            {{ translate_price(mov.price) | raw }}
                            {{ render_locale_currency(true) | raw }}
                        </td>
                        <td>
                            {{ mov.category.name }}
                        </td>
                        <td>
                            <img src="{{ '/upload/' ~ mov.picture }}">
                        </td>
                        <td>
                            {% for act in mov.actors %}
                                <p>{{ act.prenom ~ " " ~ act.nom }} </p>
                            {% endfor %}
                        </td>
                        <td>
                            {% for tag in mov.tags %}
                                <p>{{ tag.slug | trans({}, 'tag') }} </p>
                            {% endfor %}
                        </td>
                        {% if is_granted('ROLE_ADMIN')  %}
                            <td><a href="{{ url("app.admin.movie.form.update", { "id" : mov.id }) }}" class="btn btn-info">{{ 'list.edit' | trans( {}, "forms") | capitalize }}</a></td>
                            <td><a href="{{ url("app.admin.movie.delete", { "id" : mov.id }) }}" class="btn btn-danger">{{ 'list.delete' | trans( {}, "forms") | capitalize }}</a></td>
                        {% else %}
                            <td><button class="btn addTobasket" data-id="{{ mov.id }}" data-price="{{ mov.price }}">{{ 'basket.add' | trans | capitalize }}</button></td>
                            <td><button class="btn removeFrombasket" data-id="{{ mov.id }}" data-price="{{ mov.price }}">{{ 'basket.remove' | trans | capitalize }}</button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% block javascripts %}
    <script src="{{ asset('js/basket.js') }}"></script>
    <script>
        let basket = new Basket();
        basket.init("{{ url("app.basket.add",{ "id" : 999 }) }}","{{ url("app.basket.remove",{ "id" : 999 }) }}");
    </script>
{% endblock %}