{% extends 'base.simple.html.twig' %}

{% block body %}

   <div class="row">
      <div class="col-xs-12">
         <table id="basket" class="table table-striped">
            <th>{{ "movie.title" | trans | capitalize }}</th>
            <th>{{ "movie.category" | trans | capitalize }}</th>
            <th>{{ "price_unit" | trans( {}, 'basket') | capitalize }}</th>
            <th>{{ "quantity" | trans( {}, 'basket') | capitalize }}</th>
            <th>{{ "price_total" | trans( {}, 'basket') | capitalize }}</th>

            {% for mov in records %}
               <tr class="movie" id="movie_{{ mov.id }}">
                  <td>
                     {{ mov.title }}
                  </td>
                  <td>
                     {{ mov.category.name }}
                  </td>
                  <td>
                      {{ translate_price(mov.price) ~ " " ~ render_locale_currency(true) }}
                  </td>
                  <td>
                     {{ attribute(basket, mov.id) }}
                  </td>
                  <td>
                     {%  set price_total = mov.price * attribute(basket, mov.id)  %}
                      {{ translate_price(price_total) ~ " " ~ render_locale_currency(true) }}
                  </td>
               </tr>
            {% endfor %}
         </table>
         {% include 'basket/basket_price.html.twig' %}
      </div>
   </div>

{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
