{% extends 'base.html.twig' %}

{% block body %}
    <div class="row marketing jumbotron">
        <div class="col-lg-8">
            <h1 class="display-3">{{ movie.title }}</h1>
            <p class="lead">{{ movie.description }}</p>

            <p>
                <label>{{ "movie.releaseDate" | trans }} : </label> {{ movie.releaseDate | date('d/m/Y') }}</p>
            <p>
                <label>{{ "movie.category" | trans }} : </label> {{ movie.category.name }}
            </p>

            {% if movie.tags|length %}
                <p>
                    <label>{{ "movie.tags" | trans }} : </label>
                        {% for tag in movie.tags %}
                            {{ tag.slug | trans({}, 'tag') ~ " " }}
                        {% endfor %}
                </p>
            {% endif %}

            <p>
                <label>{{ "movie.price" | trans }} : </label> {{ translate_price(movie.price) ~ " " ~ render_locale_currency(true) }}
            </p>
        </div>
        <div class="col-lg-3">
            <img width="300" height="300" src="/upload/movie/{{ movie.picture }}"/>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}
