{% extends 'base.html.twig' %}

{% block body %}
    <div class="row marketing jumbotron">
        <div class="col-lg-8">
            <h1 class="display-3">{{ movie.title }}</h1>
            <p class="lead">{{ movie.description }}</p>

            <p>
                <label>{{ "movie.releaseDate" | trans }} : </label> {{ movie.releaseDate | date('d/m/Y') }}</p>
            <p>
                <label>{{ "movie.category" | trans }} : </label> {{ movie.category.name }}
            </p>

            <p>
                <label>{{ "movie.tags" | trans }} : </label> {{ movie.category.name }}
            </p>

            <p>
                <label>{{ "movie.price" | trans }} : </label> {{ movie.price }}
            </p>
        </div>
        <div class="col-lg-3">
            <img width="300" height="300" src="/upload/movie/{{ movie.picture }}"/>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}
