{% extends 'base.html.twig' %}

{% block body %}

    <p>{{ 'Formulaire de recherche de film (sans pagination)' | trans }}</p>
    {#
        form_start: début du formulaire
        form_end: fin du formulaire
        form_label: label champ
        form_widget: champ
        form_errors: affiche erreurs
    #}
    {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate'} }) }}


    {{ form_errors(form.title) }}
    {{ form_errors(form.category) }}
    <p>
        {{ form_label(form.title, 'filter.title' | trans({}, 'forms') | title ~ ' : ') }}
        {{ form_widget(form.title) }}
    </p>
    <p>
        {{ form_label(form.releaseDate, 'filter.date' | trans({}, 'forms') | title ~ ' : ') }}
        {{ form_widget(form.releaseDate) }}
    </p>
    <p>
    {{ form_label(form.category, 'filter.category' | trans({}, 'forms') | title ~ ' : ') }}
    {{ form_widget(form.category) }}
    </p>

    <p>
        {{ form_label(form.tags, 'filter.tags' | trans({}, 'forms') | title ~ ' : ') }}
        {{ form_widget(form.tags) }}
    </p>

    <p><input type="submit" value="{{ 'submit.search' | trans( {}, 'forms') | title}}"/></p>

    {{ form_end(form) }}

    <table class="table table-striped table-inverse">
        <thead class="thead-default">
        <tr>
            <th>{{ "movie.title" | trans | capitalize }}</th>
            <th>{{ "movie.releaseDate" | trans | capitalize }}</th>
            <th>{{ "movie.poster" | trans | capitalize }}</th>
            <th>{{ "movie.category" | trans | capitalize }}</th>
            <th>{{ "movie.price" | trans | capitalize }}</th>
            <th>{{ "actions" | trans | capitalize }}</th>
        </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>
                    <a href="{{url('main.movie.detail', {'id' : movie.id, 'slug' : movie.slug , 'category' : movie.category.slug })}}">
                        {{ movie.title }}
                    </a>
                </td>

                <td>
                    {{ movie.releaseDate | date('d/m/Y') }}
                </td>

                <td>
                    <img width="100" height="150" src="/upload/movie/{{ movie.picture }}" />
                </td>
                <td>
                    {{ movie.category.name }}
                </td>
                <td>
                    {{ translate_price(movie.price) }}
                    {{ render_locale_currency(true) | raw }}
                </td>
                {% if is_granted('ROLE_ADMIN')  %}
                    <td><a href="{{ url("app.admin.movie.form.update", { "id" : movie.id }) }}" class="btn btn-info">{{ 'list.edit' | trans( {}, "forms") | capitalize }}</a></td>
                    <td><a href="{{ url("app.admin.movie.delete", { "id" : movie.id }) }}" class="btn btn-danger">{{ 'list.delete' | trans( {}, "forms") | capitalize }}</a></td>
                {% endif %}

                <td><button class="btn addTobasket" data-id="{{ movie.id }}" data-price="{{ movie.price }}">{{ 'add' | trans ( {}, "basket")| capitalize }}</button></td>
                <td><button class="btn removeFrombasket" data-id="{{ movie.id }}" data-price="{{ movie.price }}">{{ 'remove' | trans( {}, "basket") | capitalize }}</button></td>


            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/basket.js') }}"></script>
    <script>
        let basket = new Basket();
        basket.init("{{ url("app.basket.add",{ "id" : 999 }) }}","{{ url("app.basket.remove",{ "id" : 999 }) }}");
    </script>
{% endblock %}
