{% extends 'base.html.twig' %}


{% block body %}
    <p>{{ 'form.actor.formulaire' | trans }}</p>
    {#
        form_start: début du formulaire
        form_end: fin du formulaire
        form_label: label champ
        form_widget: champ
        form_errors: affiche erreurs
    #}
    {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate'} }) }}


    {{ form_errors(form.nom) }}

    <p>
        {{ form_label(form.nom, 'form.actor.nom' | trans | title ~ ' : ') }}
        {{ form_widget(form.nom) }}
    </p>
    <p>
        {{ form_label(form.prenom, 'form.actor.prenom' | trans | title ~ ' : ') }}
        {{ form_widget(form.prenom) }}
    </p>
    <p>
        {{ form_label(form.image, 'form.actor.image' | trans | title ~ ' : ') }}
        {{ form_widget(form.image) }}
    </p>
    <p>
        {{ form_label(form.dateNaissance, 'form.actor.dateNaissance' | trans | title ~ ' : ') }}
        {{ form_widget(form.dateNaissance) }}
    </p>
    <p>
        {{ form_label(form.movies, 'form.actor.movies' | trans | title ~ ' : ') }}
        {{ form_widget(form.movies) }}
    </p>
    {% if form.vars.value.id == false %}
        <p><input type="submit" value="{{ 'submit.create' | trans( {}, 'forms') | title}}"/></p>
    {% else %}
        <p><input type="submit" value="{{ 'submit.update' | trans( {}, 'forms') | title}}"/></p>
    {% endif %}
    {{ form_end(form) }}



{% endblock %}