{% extends 'base.admin.html.twig' %}

{% block body %}

    <a href="{{ path('app.admin.tag.form') }}">{{ 'tag.title_create' | trans }}</a><br>

    <div class="row">
        <div class="col-xs-12">
            <table id="tags" class="table table-striped">
                <th>{{ "name" | trans | capitalize }}</th>
                <th>{{ "slug" | trans | capitalize }}</th>
                <th>{{ "tag.published" | trans | capitalize }}</th>
                <th>{{ 'tag.update' | trans | capitalize }}</th>
                <th>{{ 'tag.delete' | trans | capitalize }}</th>
                {% for tag in records %}
                    <tr class="tag" id="tag_{{ tag.id }}">
                        <td>
                            {{ tag.slug | trans( {}, 'tag') }}
                        </td>
                        <td>
                            {{ tag.slug }}
                        </td>
                        <td>
                            {% if tag.published %}
                                {{ "published" | trans }}
                            {% else %}
                                {{ "unpublished" | trans }}
                            {% endif %}
                        </td>
                        <td><a href="{{ url("app.admin.tag.form.update", { "id" : tag.id }) }}" class="btn btn-info">{{ 'list.edit' | trans( {}, "forms") | capitalize }}</a></td>
                        <td><a href="{{ url("app.admin.tag.delete", { "id" : tag.id }) }}" class="btn btn-danger">{{ 'list.delete' | trans( {}, "forms") | capitalize }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% for message in app.session.flashbag.get('notice') %}
        <p class="alert alert-success">
            {{ message }}
        </p>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <p class="alert alert-fail">
            {{ message }}
        </p>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
